.App {
  text-align: center;
  min-height: 100vh;
}

body {
    background-color: #add8e6;
}

h2 {
  color: white;
  text-shadow: 2px 2px 5px blue;
}

button {
  background-color: rgb(220, 253, 222);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 2px;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center; */

  }

button:hover {
  background-color: black;
  color: white;
}

.container img {
  width: 25%;
  height: auto;
}

.container2 img {
  width: 25%;
  height: auto;
}

.container3 img {
  width: 25%;
  height: auto;
}

/* .slider {
	margin: auto;
	position: relative;
	width: 100%;
	max-width: 600px;
	height: 450px;
	overflow: hidden;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
